DOWNLOAD_DIR=C:\Users\bsoul\OneDrive\Desktop\AiFace\Manual_pdfs
MAX_DOWNLOADS_PER_DAY=100
MAX_MB_PER_DAY=100
SEARCH_INTERVAL_MINUTES=30
MIN_QUALITY_SCORE=35
AUTO_ROTATE_KEYWORDS=true
SOURCE_OPENALEX=true
SOURCE_ARXIV=true
SOURCE_PMC=true
